/*general-color-variables-begin*/
:root {
    --dis-header-color: #255ee9;
    --dis-main-light-color: #f6f6f6;
    --dis-main-lighter-color: #ffffff;
    --dis-button-primary-color: #f6f6f6;
    --dis-button-secondary-color: #23272a;
    --dis-button-extra-color: #8ea1e1;
    --dis-footer-text-color: #7289da;
    --dis-footer-color: #23272a;

}

/*general-color-variables-end*/
/*general-attributes-begin*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--dis-button-primary-color);
    font-weight: 600;
}

html,
body {
    height: 100%;
}

/*general-attributes-end*/

/*utility-begin*/
.d-flex {
    display: flex;
}

.separator {

    filter: invert(100%) sepia(34%) saturate(158%) hue-rotate(231deg) brightness(116%) contrast(93%);

    width: 100%;
    height: 150px;

    img {
        width: 100%;
    }


}

.inverted-separator {
    img {
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}

/*premade-containers-styling-begin*/
[class^="bttn"] {
    border-radius: 30px;
    padding: 0.75rem 1.5rem;

}

.bttn-dark {
    background-color: var(--dis-button-secondary-color);
    color: var(--dis-main-light-color);
}

.bttn-light {
    background-color: var(--dis-button-primary-color);
    color: var(--dis-button-secondary-color);

    * {
        color: var(--dis-button-secondary-color);
    }
}

.bttn-secondary {
    background-color: var(--dis-button-extra-color);
    color: var(--dis-main-light-color);

    * {
        color: var(--dis-button-light-color);
    }
}


.content-section:nth-of-type(odd) {
    background-color: var(--dis-main-light-color);
}

.content-section:nth-of-type(even) {
    background-color: var(--dis-main-lighter-color);
}

.content-section {
    height: 600px;
    justify-content: center;
    align-items: center;

    .content-container {
        align-self: center;
        width: 62.5%;


        .img-container {
            flex-grow: 3;

        }

        .paragraph-container {
            flex-grow: 2;
            line-height: 1.5rem;

            * {
                color: var(--dis-footer-color);
            }

            h2 {
                padding: 2rem 0;
                line-height: 3.5rem;
                font-size: 3rem;
            }

        }



        .vertical-container {
            flex-grow: 1;
            flex-direction: column;

            h3 {
                font-size: 30px;
            }
        }
    }
}

/*premade-containers-styling-end*/


/*utility-end*/


/*debug-begin*/
.debug-l {
    * {
        border: 1px dotted black;
    }
}

.debug {

    header {
        background-color: red;

        .header-container {
            background-color: yellow;

            nav {
                background-color: orange;
            }

            #logo-container {
                background-color: green;
            }

            #login-container {
                background-color: green;
            }
        }
    }

    /*box around all divs inside main and inside those divs*/
    header div div,
    header div nav,
    section div,
    section div div {

        border: 2px dotted black;
    }

    #info-section div div:not(#social-container) {
        border: 2px dotted white;
    }

    /*box-debug-end*/
    /*premade-containers-debug-begin*/

    .content-container {
        background-color: violet;

        .img-container {
            background-color: lightcoral;
        }

        .paragraph-container {
            background-color: pink;
        }

        .vertical-container {
            background-color: turquoise;
        }

    }


    /*premade-containers-debug-end*/

    main {
        #jumbotron {
            background-color: blue;
        }

        #invite-only {
            background-color: white;
        }

        #community {
            background-color: lightgray;
        }

        #fandom {
            background-color: white;
        }

        #technology {
            background-color: lightgray;

            .img-container {
                background-color: green;
            }
        }
    }



    footer {
        background-color: black;

        #info-section {
            background-color: black;
            border-bottom: 2px solid gray;

            #social-container {
                background-color: red;
            }

        }

        #footer-section .content-container {
            background-color: lightseagreen;

            div {
                background-color: pink;
            }
        }


    }
}

/*debug-end*/

/*header-begin*/


header {

    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dis-header-color);



    .header-container {
        padding: 0.25rem;
        width: 62.5%;
        align-items: center;

        div {

            width: 20%;
            align-items: center;
        }

        nav {

            width: 60%;
            align-items: center;
            justify-content: space-evenly;

            gap: 10px;
        }

        #login-container {
            justify-content: end;
        }
    }
}

/*header-end*/
/*main-begin*/

.paragraph-container {
    margin: 0 10rem 0 10rem;
}

section#jumbotron {

    background-image: url("/assets/img/jumbo.png");
    background-size: cover;
    height: 800px;

    p {
        color: var(--dis-main-light-color);
    }

    .content-container {

        width: 47.5%;
        flex-direction: column;
        align-self: flex-start;
        justify-content: center;
        text-align: center;
        line-height: 2em;



        .paragraph-container {
            padding-bottom: none;
        }

        h1 {
            font-size: 50px;
            padding: 140px 0 80px 0;
        }

        .ctacontainer {
            width: 100%;
            justify-content: space-around;
            font-size: 1.5em;
            padding: 40px 0;
        }


    }


}



section#technology {
    height: 100%;
    padding-top: 100px;

    .content-container {

        .img-container {
            height: 800px;
            /*forced to give height in orded to expand image*/
            justify-content: center;
        }

        .bottom-ctacontainer {
            background-image: url(/assets/img/stars.svg);
            background-position: top;
            background-repeat: no-repeat;

            flex-direction: column;
            align-items: center;

            padding: 20px 0 150px 0;

            span {
                padding: 20px;
                font-size: larger;
                color: var(--dis-button-secondary-color);

            }
        }
    }

}



/*main-end*/
/*footer-begin*/


footer h3,
footer h4 {
    color: var(--dis-footer-text-color);
}

#info-section {
    height: 630px;
    padding-top: 0.75rem;

    background-color: var(--dis-footer-color);

    .content-container {

        a {
            padding: 10px 0;
        }

        #utility-container {
            flex-grow: 2;

            span span {
                vertical-align: 50%;
            }

            .language-change img {
                width: 30px;
                margin: 10px 10px 0 0;
            }
        }

        #social-container {

            img {
                width: 40px;
                margin: 40px 40px 0 0;
            }

        }
    }
}

#footer-section.content-section {

    height: fit-content;

    background-color: var(--dis-footer-color);

    .content-container {
        border-top: 1px solid var(--dis-footer-text-color);
        padding: 2rem 0;
        height: fit-content;
        justify-content: space-between;
        padding-bottom: 5rem;



    }
}

/*footer-end*/